{{template "template_header.gohtml" .}}
<div class="row">
    <div class="col-12 text-center py-5">
        <h1>{{.Title}}</h1>
        <h3>{{.Message}}</h3>
        <p>Please contact admin about this error</p>
    </div>
</div>
{{template "template_footer.gohtml"}}