{{template "template_header.gohtml" .}}
<div class="row">
    <div class="col-12 text-center">
        <h1>{{.Code}}</h1>
        <h3>{{.Message}}</h3>
    </div>
</div>
{{template "template_footer.gohtml"}}